@tailwind base;
@tailwind components;
@tailwind utilities;

@layer {
  :root {
    --background: 0 0% 100%;
    --background-secondary: 0 0% 97%;
    --foreground: 199 93.9% 12.9%;
    --primary: 194 79% 52%;
    --primary-foreground: 0 0% 94%;
    --danger: 0 72% 51%;
    --danger-foreground: 0 0% 94%;
    --warning: 47 96% 53%;
    --warning-foreground: 0 0% 21%;
    --border: 214 32% 91%;
    --size: 40px;
  }
}